.formfield{
    display: flex;
    flex-direction: column;
}

.formfield input{
    border: none;
    padding: 0.6rem ;
    margin: 0.5rem ;
    display: flex;
    flex: 1;
    width: 90%;
}
.formfield button{
    border: none;
    padding: 0.6rem;
    margin: 0.5rem auto;
    width: 100%;
}